.tabs {
    border: 1px solid #ddd;
}

.tabs .tabs-header .tab {
    display: inline-block;
    background-color: rgb(247,247,247);
    padding: 3px 6px;
    border: 1px solid #ddd;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    opacity: 0.7;
}

.tabs .tabs-header .tab.active {
    border: 1px solid #ddd;
    border-bottom-color: #428bca;
    background-color: #FFF;
    cursor: default;
    opacity: 1;
}

.tabs .tabs-body .tab {
    display: none;
}

.tabs .tabs-body .tab.active {
    display: block;
}

.codetabblock {
  font-family: monospace;
  background-color: #fff;
  width: em(440);
  border-radius: .25em;
  box-shadow: .1em .1em .5em rgba(0,0,0,.45);
  line-height: 0;    
  counter-reset: lineno attr(startnumber);
}

.codetabline {
    display: block;
    line-height: 1.5rem;    
}

.codetabline::before {
      counter-increment: lineno;
      content: counter(lineno);
      display: inline-block;
      border-right: 1px solid #ddd;
      padding: 0 .5em;
      margin-right: .5em;
      color: #AAA
}   

.codeline {
    background-color:rgb(248,248,248);
}

.codecell {
    text-align:right; 
    padding-top:2px; 
    padding-bottom:2px;
}

.codecell::before {
    content: attr(data-line-number);
}


